:root{
    --color_link: white;
    --bg_header: black;
    --bg_section: rgb(212, 210, 210);
}

ul{
    list-style-type: none;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1em;
    box-sizing: border-box;

}

header {
    position: relative;
    overflow: hidden;
    height: 800px;
    width: 100%;
    z-index: 2;
    background:url(https://img.freepik.com/free-photo/beautiful-shot-of-high-white-hilltops-and-mountains-covered-in-fog_181624-399.jpg?w=1380&t=st=1678075927~exp=1678076527~hmac=80e3a78929e066fb4529cf5a874b281330670aa4d2af15e4005e8462b3c2a935);
    background-repeat: no-repeat;
    background-size: cover;
}

header:before {
    background: rgba(4, 4, 4, 0.2);
    content: "";
    position: absolute;
    width: 100%;
    height: 800px;
    z-index: -1
}

.container-header{
    position: sticky;
    top: 0; 
    margin: auto;
    gap: 30%;
    max-width: 2000px;
    padding-top: 1px;
}


.link-logo{
    width: 10%;
    background-color: var(--bg_header);
    border-radius: 0 20px 20px 0;
    text-align: center;
    padding: 1em 0;
}

.logo{
    padding: 0;
}

.list-navigation{
    margin: 0;
    width: 60%;
    display: flex;
    gap:calc(10%/3);
    justify-content: center;
    background-color: var(--bg_header);
    border-radius: 10px 0 0 10px;
}

.list-item{
    padding: 1em;
}

.link{
    padding: calc(1em/3);
    border-radius: 10px;
    transition: .3s ease;
    color: var(--color_link);
    text-decoration: none;
}

.link:hover{
    color: var(--bg_header);
    background-color: var(--color_link);
    padding: calc(1em/2);
}

.container-banner{
    margin: 10rem;
    z-index: 4;
}

.banner{
    background-color: var(--bg_section);
    border-radius: 10px;
    padding: 4rem;
    max-width: 40%;
}

.banner-title{
    text-align: center;
}

.banner-btn, .btn-more{
    text-align: center;
    transition: .4s ease-in;
}

.btn-more{
    background-color: inherit;
    border-radius: 10px;
    border: none;
    transition: .3s ease;
}

.btn-more:hover{
    background-color: var(--bg_header);
    border-radius: 10px;
    color: var(--color_link);
    transform: scale(104%);
}

.end{
    border: 100px solid var(--bg_header);
    width: 2000px;
    position: absolute;

}